.navbar__conteiner{
    background-color: #ffffff;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar__items {
    display: flex;
    padding: 15px;
    margin-left: 90px;
    list-style: none;
}
.navbar__items.right{
    display: flex;
}

.navbar__items li{
    padding-left: 80px;
}
.navbar__items li:last-child{
    margin-right: 0px;
}
.navbar__items li a{
    text-decoration: none;
    color: #000000;
    border-bottom: 5px solid transparent;
    transition: border-color 0.3s ease;
    
}

.navbar__items li a:hover, .navbar__items li a:active, .navbar__items li a:focus{
    border-bottom: 3px solid #06da46;
    
}

.navbar__items.right{
    display: flex;
    padding-left: 500px;
}
.navbar__btn{
    display: flex;
    list-style: none;
    padding: 12px 18px;
    margin-right: 20px;
    border-radius: 6px;
    background-color: #087328;
}
.navbar__btn li a{
    text-decoration: none;
    color: #ffffff;
}